@font-face {
  font-family: Exo;
  src: url(../fonts/Exo_2/Exo2-VariableFont_wght.ttf);
}
@font-face {
  font-family: Playfair;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: Lora;
  src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
  h1 {
    font-family: Playfair, sans-serif;
    color: #60897a;
  }
  h2 {
    font-family: Playfair, sans-serif;
  }
  h3 {
    font-family: Playfair, sans-serif;
  }
  h5 {
    font-family: Playfair, sans-serif;
  }
  p {
    font-family: Lora, sans-serif;
  }
  label {
    font-family: Quicksand;
  }
  span {
    font-family: Exo;
  }
  a {
    font-family: Lora;
  }
  button {
    font-family: Quicksand;
  }
}

#main-navbar {
  /* width: 100%; */
  box-shadow: 0px 3px 5px 3px gray;
  position: sticky;
  top: 0;
  z-index: 150;
}
.navbar-bg {
  background-color: #fff9f4;

  span {
    font-size: 28px;
    color: #60897a;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  span:hover {
    color: #2e4a40;
  }
  img {
    width: 100px;
  }
}
.active {
  font-weight: bold;
  text-shadow: 0px 0px 1px #2e4a40;
}

#topNavbar {
  width: 60% !important;
}
#navbar-content {
  font-size: 18px;
}
#hero {
  position: relative;
  /* background-color: #faf3ed; */
}
.booking-tab {
  background-color: rgba(245, 245, 220, 0.684);
  backdrop-filter: blur(3px);

  width: 80%;
  /* margin: auto; */
  position: absolute;
  z-index: 99;
  /* top: 200px; */
  top: 40vh;
  left: 10%;
  border-radius: 25px;
  /* border: 3px solid #ccc; */

  select {
    width: 100%;
    height: 35px;
    background-color: #fef4ec7c;
    border-radius: 10px;
    text-align: center;

    option {
      background-color: rgba(254, 244, 236);
    }
  }
}
.date-inputs {
  background-color: #fef4ec7c; /* light blue background */
  border: 1px solid #ccc;
  margin: 1px;
  border-radius: 8px; /* rounded corners */
  /* padding: 8px; optional: spacing inside input */
  color: #333;
  /* font-size: 16px; */
  text-align: center;
}

#banner {
  /* height: 100vh; */
  /* margin-top: 100px; */
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid green;
}
#carouselExample {
  /* img {
    width: 100%;
    height: 90vh;
  } */
}
#carousel-imgs {
  width: 100%;
  height: 90vh;
  position: relative;
  img {
    position: absolute;
    object-fit: cover;
  }
}
.left-border {
  border-left: 3px solid green;
  height: fit-content;
}
#hotelPointer {
  height: 80px;
}
#hotel-info {
  position: relative;
  height: fit-content;
}
#hotel-info-img {
  img {
    position: relative;
    z-index: 98;
  }
}
#room-count {
  width: 150px;
  border: 2px solid black;
  text-align: center;
  border: 2px solid rgb(158, 134, 0);
  background-color: #527a62;
  border-radius: 20px 0px;
  position: relative;
  top: -200px;
  left: -40px;
  padding: 4px;
  z-index: 99;
  p {
    font-size: 12px;
    margin: 0px;
    color: rgb(255, 242, 167);
  }
  h1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 40px;
    margin: 0px;
    color: rgb(223, 189, 0);
  }
}
.color-ribbon {
  height: 20vh;
  background-color: #527a62;
  position: relative;
  top: -150px;
}
.why-us {
  padding-inline: 15px;
  box-shadow: 0px 15px 9px -10px gray;
  margin-top: -80px;
}
#why-us-left {
  /* padding-top: 45px; */
  display: flex;
  justify-content: space-between;
  border-right: 2px solid rgb(226, 226, 226);
  align-items: center;
}
#why-us-left-left {
  h1 {
    width: 300px;
    border-bottom: 2px solid green;
    text-transform: capitalize;
  }
}
#why-us-left-right {
  text-align: center;
  flex-grow: 1;
  img {
    width: 70px;
    transform: rotate(-40deg);
    object-fit: contain;
  }
  p {
    margin: 10px;
  }
}
#why-us-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.why-us-features {
  width: 33%;

  margin: 1px;
  text-align: center;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  img {
    display: inline-block;
    width: 90px;
  }
}
.our-rooms {
  margin-top: 60px;
  margin-bottom: 10px;
  /* height: 400px; */
  /* border: 3px solid red; */
  scroll-margin-top: 100px;
  h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
}
#our-rooms-pointer {
  height: 60px;
  /* border-top: 2px solid #527a62; */
}
#dining-carousel {
  height: 90vh;
  img {
    width: 100%;
    height: 90%;
    object-fit: contain;
  }
}
.caption {
  background-color: #527a624f;
  backdrop-filter: blur(3px);
  border-radius: 35px;
  padding: 20px;
  position: relative;
  top: 50%;
}
.our-rooms {
  position: relative;
}
.button-bar {
  background-color: rgb(253, 253, 237);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  button {
    margin: 3px;
    width: 20%;
    display: block;
    height: 50px;
    background-color: rgb(253, 253, 237);
    border: none;
    border-radius: 10px;
    transition: 0.3s all ease-in;
  }
  button:hover {
    background-color: rgb(225, 225, 173);
    /* text-decoration: underline; */
    /* border: 3px solid rgb(246, 246, 172); */
  }
}
#room-img {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  img {
    width: 50%;
    display: block;
    z-index: 99;
  }
}
.room-caption {
  padding: 40px 20px;
  width: 50%;
  h1 {
    text-decoration: underline;
  }
  p {
    text-align: justify;
  }
}
.room-img-bottom {
  position: relative;
  z-index: 50;
  height: 80px;
  background-color: #527a62;
  top: -50px;
}
.room-details {
}
.room-details-left {
  position: relative;
  button {
    width: 40px;
    height: 100%;
    border: none;
    border-radius: 20px;
    /* font-size: 30px; */
  }
  .btn-prev {
    position: relative;
    left: 20px;
    top: 2px;
  }
  .btn-next {
    position: relative;
    right: 20px;
    top: 2px;
  }
  img {
    width: 450px;
  }
}

.facilities-box {
  /* margin-top: 35px; */
  /* margin-bottom: 15px; */
  /* height: 400px; */
  /* border: 2px solid red; */
  padding: 30px;
  #top-row {
    border-top: 2px solid #2e4a40;
  }
  img {
    width: 70px;
  }
}
.offers {
  margin-top: 20px;
  h1 {
    color: #527a62;
  }
  .row {
    border-top: 2px solid #2e4a40;
  }
  .offer-bottom {
    width: 103%;
    height: 140px;
    background-color: #527a62;
    position: relative;
    top: -100px;
  }
}
#offer1,
#offer2,
#offer3,
#offer4 {
  width: 97%;
  border: 1px solid #2e4a40;
  margin: 0px;
  border-radius: 40px;
  /* height: fit-content; */
  height: 420px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease-out;
  h3 {
    font-size: 20px;
    color: #527a62;
    margin-top: 25px;
    margin-bottom: 35px;
  }
  p {
    color: #527a62;
    height: 50px;
  }
  img {
    display: block;
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid #2e4a40;
    object-fit: contain;
  }
}
#offer1:hover,
#offer2:hover,
#offer3:hover,
#offer4:hover {
  transform: perspective(500px) translateY(-10px) translateZ(50px);
  border: 2px solid #527a62;
  z-index: 101;
}

#gallery-pointer {
  margin-top: -80px;
  height: 120px;
}

.gallery {
  height: fit-content;
  a {
    float: right;
  }
}

#gallery1,
#gallery2,
#gallery3,
#gallery4 {
  /* height: 70vh; */
  position: relative;
  p {
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 30px;
    left: 0px;
    color: #ffffff;
    background-color: #527a62b4;
    z-index: 101;
    /* -webkit-text-stroke: 0.5px #ffffff; */
    backdrop-filter: blur(3px);
  }
}
#gallery1 {
  background: url("../images/hotel_images/HotelRoom2.avif");
  background-size: cover;
  background-repeat: no-repeat;
}
#gallery2 {
  background: url("../images/hotel_images/HotelDining.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#gallery3 {
  background: url("../images/hotel_images/HotelFacilities.avif");
  background-size: cover;
  background-repeat: no-repeat;
}
#gallery4 {
  background: url("../images/hotel_images/HotelPremises.avif");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: inherit; */
  /* display: flex;
  flex-flow: column; */
  /* img {
    position: static;
  } */
}
.card-img {
  /* border: 3px solid black; */
  height: 380px;
  overflow: hidden;
  img {
    width: 115%;
    object-fit: contain;
  }
}
#testimonials-pointer {
  height: 80px;
}

.testimonials {
  height: 500px;
  margin-top: 80px;
  /* border: 2px solid black; */
}

.testimonials-img {
  height: fit-content;

  img {
    width: 100%;
    object-fit: contain;
  }
}
/* Code copy pasted here */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.card-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px 0;
  width: 80%;
}
.card-wrapper {
  /* existing styles... */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.card-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scroll-card {
  text-align: justify;
  min-width: 300px;
  height: 280px;
  background-color: #f6fff9;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* font-size: 1.2rem; */
  user-select: none;
  h3 {
    width: 100%;
    height: 50px;
    text-align: left;
  }
}

.scroll-button {
  min-width: 40px;
  /* height: 40px; */
  height: 300px;
}
.footer {
  iframe {
    width: 100%;
    height: 300px;
  }
  img {
    width: 50px;
  }
}
.contact-us-content {
  margin-top: 60px;
}

.contact-us-right {
  padding: 20px;
  color: white;
  display: flex;
  flex-flow: column;
  background: linear-gradient(45deg, #82c09b, #527a62);
}
.contact-us-whatsapp {
  color: white;
  padding: 20px;
  background: linear-gradient(45deg, #527a62, #82c09b);
}
.footer-bar {
  background-color: #527a62;
  color: white;
  padding-top: 48px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  p {
    margin: 8px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #e7e701;
  }
}

.gallery-section {
  margin-bottom: 55px;
  border-bottom: 1px solid gray;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 280px 280px;
  justify-content: space-around;
  align-content: space-evenly;
  grid-auto-flow: row;
  gap: 10px;
}
.gallery-premises {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 370px 370px;
  justify-content: space-around;
  align-content: space-evenly;
  grid-auto-flow: row;
  gap: 10px;
}
.gallery-section-img {
  /* border: 1px solid red; */
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    transition: all ease-out 0.3s;
  }
  img:hover {
    transform: scale(1.1);
  }
}
.form-container {
  form {
    width: 50%;
    margin: auto;
    margin-bottom: 48px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
  }
  label {
    text-align: center;
  }
  /* input[text],
  input[date],
  input[number] {
    width: 70%;
    border-radius: 10px;
  } */
}

#modalTable {
  table {
    margin: auto;
    border: 1px solid black;

    tr {
      padding: 5px;
    }
    td {
      border: 1px solid black;
      padding: 5px;
    }
  }
}
.contact-us-social {
  a {
    font-size: 25px;
    margin-inline: 8px;
  }
}
/* Code copy pasted till here */

/*
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
*/
/* ****************Media Query given below************* */
@media screen and (max-width: 992px) {
  #main-navbar {
    position: sticky;
    top: 0;
  }
  .navbar-bg {
    img {
      width: 30px;
    }
  }
  .booking-tab {
    background-color: rgba(245, 245, 220, 0.356);
    width: 90%;
    border-radius: 20px;
    position: absolute;
    top: 10vh;
    left: 5%;
    /* width: 100%;
    position: sticky;
    top: 50px;
    font-size: 15px;
    z-index: 100; */
  }
  #carouselExample {
    img {
      width: 100%;
      height: 70vh;
    }
  }
  #carousel-imgs {
    height: 70vh;
  }
  #hotelPointer {
    height: none;
  }

  #room-count {
    width: 125px;
    height: 80px;
    position: relative;
    top: -105px;
    h1 {
      font-size: 25px;
    }
    p {
      /* font-size: 18px; */
    }
  }

  .left-border {
    border-top: 3px solid green;
  }
  .color-ribbon {
    display: none;
  }
  .why-us {
    margin-top: 50px;
  }
  .why-us-features {
    text-align: center;
    img {
      width: 15vw;
    }
  }
  #why-us-left {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    border-right: none;
    border-bottom: 1px solid gray;
  }
  #why-us-left-left {
    h1 {
      width: 100%;
    }
  }

  #why-us-right {
    margin-top: 20px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    img {
      width: 100px;
    }
  }

  /* #rooms::before {
    content: "";
    display: block;
    height: 120px; 
    margin-top: -80px;
    visibility: hidden;
    pointer-events: none;
  } */

  #room-img {
    flex-flow: column nowrap;
    img {
      width: 100%;
    }
  }
  .room-caption {
    width: 100%;
    h1 {
      text-align: center;
      text-decoration: underline;
    }
  }
  .caption {
    background-color: #2e4a4000;
    backdrop-filter: none;
    height: fit-content;

    h5 {
      background-color: #2e4a4032;
      backdrop-filter: blur(2px);
      border-radius: 10px;
      padding: 10px;
      position: relative;
      bottom: -100px;
    }
    p {
      display: none;
    }
  }
  .room-img-bottom {
    display: none;
  }

  .room-details-left {
    box-shadow: 0px 5px 8px -10px gray;
  }
  .room-details-right {
    box-shadow: 0px 5px 8px -10px gray;
  }

  .button-bar {
    button {
      font-size: 12px;
    }
  }
  #dining-carousel {
    height: fit-content;

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  .facilities-box {
    img {
      width: 15vw;
    }
    p {
      text-align: center;
    }
  }
  .offers {
    margin: auto;
  }
  .offer-bottom {
    display: none;
  }
  #offer1,
  #offer2,
  #offer3,
  #offer4 {
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin: auto;
    transition: none;
    border: 1px solid #2e4a40;
    img {
      width: 80px;
      height: 80px;
    }
    h3 {
      height: 50px;
    }
    p {
      height: 90px;
    }
  }
  #offer1:hover,
  #offer2:hover,
  #offer3:hover,
  #offer4:hover {
    transform: perspective(500px) translate3d(0px, 0px, 0px);
    border: 1px solid #2e4a40;
  }

  .gallery {
    h1 {
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }

  #gallery1,
  #gallery2,
  #gallery3,
  #gallery4 {
    height: 250px;
    margin-top: 15px;
    p {
      position: absolute;
      bottom: 50px;
      left: 0px;
      color: white;
      z-index: 101;
      text-align: center;
    }
  }

  #gallery-img1,
  #gallery-img2,
  #gallery-img3,
  #gallery-img4 {
    /* border: 2px solid black; */
    /* width: 100%;
    height: 215px;
    img {
      display: none;
    } */
  }
  .scroll-card {
    min-width: 230px;
    display: flex;
    align-content: flex-start;
    p {
      font-size: 12px;
      height: max-content;
      /* float: left; */
      /* width: 80%; */
    }
  }
  .contact-us {
    iframe {
      height: 200px;
    }
  }
  .contact-us-right {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  .contact-us-content {
    margin-top: 0px;
    p {
      text-align: center;
    }
  }
  .contact-us-whatsapp {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .footer-bar {
    font-size: 10px;
  }
  .gallery-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 150px 150px;
    .gallery-section-img {
      /* border: 2px solid black; */
    }
    img {
      object-fit: cover;
    }
  }
  .gallery-premises {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 50% 50%;
    .gallery-section-img {
      height: 150px;
      /* border: 2px solid red; */
      img {
        position: relative;
        bottom: 0px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
  .form-container {
    form {
      width: 90%;
      margin: auto;
      margin-bottom: 48px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-content: center;
    }
    label {
      text-align: center;
    }
    /* input[text],
  input[date],
  input[number] {
    width: 70%;
    border-radius: 10px;
  } */
  }
  #suitCarousel {
  }
  #suite-carousel-inner,
  #deluxe-carousel-inner,
  #premium-carousel-inner,
  #luxury-carousel-inner {
    height: 400px;
  }
}
